.stores {
    .new-store {
        margin-bottom: 10px;

        a {
            color: #505050;
            font-size: 15px;
            cursor: pointer;
            
            span {
                margin-left: 3px;
            }

            &:hover {
                color: $hover-color;
            }

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}

.tbl-result {
    &.products {
        @include respond-to(md) {
            width: 550px !important;
            font-size: 12px;
        }

        @include respond-to(lg) {
            width: 740px !important;
            font-size: 12px;
        }
    }

    thead, tfoot {
        tr {
            th {
                &:first-child {
                    text-align: center;   
                }
            }
        }
    }
    tbody {
        tr {
            td {
                vertical-align: middle;

                &:first-child {
                    text-align: center;
                    a {
                        cursor: pointer;
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }

                &:nth-child(2), &:nth-child(3) {
                    cursor: pointer;
                }
            }
        }
    }
}

.add-new-store {
    width: 500px;

    .add-new-store-form {
        display: flex;
        flex-direction: column;
    }
}

// import store
#uploadForm {
    display: flex;
    justify-content: center;
    align-items: center;

    md-progress-circular {
        margin-right: 5px;
    }
}

#saveForm {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow: auto;
}

#photos {
    .box-body {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .carousel-inner {
            .item {
                img {
                    max-height: 600px;
                    height: 600px;
                }
            }
        }
    }
}

#map {
    .box-header {
        display: flex;

        .form-group {
            display: flex;

            select {
                max-width: 250px;
                min-width: 100px;
                margin-right: 5px;
            }

            button {
                border-radius: 0;

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
    .box-body {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}

.map-view-dialog {
    .body {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 10%;

            label {
                margin-right: 5px;
                @include respond-to(sm) {
                    font-size: 12px;
                }
            }

            select.map {
                max-width: 150px;
                min-width: 100px;
                margin-right: 5px;

                @include respond-to(sm) {
                    max-width: 100px;
                    font-size: 12px;
                    padding: 0;
                }
            }

            select.routes {
                max-width: 75px;
                min-width: 50px;
                margin-right: 5px;

                @include respond-to(sm) {
                    max-width: 50px;
                    min-width: 30px;
                    font-size: 12px;
                    padding: 0;
                }
            }

            button {
                height: 35px;
                border-radius: 0;
                
                @include respond-to(sm) {
                    font-size: 12px;
                }

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }

        .content {
            width: 650px;
            padding: 0;

            @include respond-to(sm) {
                width: 425px;
            }

            @include respond-to(md) {
                width: 525px;
            }

            @include respond-to(lg) {
                width: 530px;
            }

            img {
                height: 100%;
            }
        }
    }
}

.add-route-dialog, .add-aisle-dialog {
    .body {
        .content {
            width: 1024px;
            
            @include respond-to(sm) {
                height: 400px;
            }

            @include respond-to(md) {
                height: 480px;
            }

            height: 480px;
            overflow: auto;
            padding: 0;
        }
    }
}

.add-aisle-dialog {
    .aisle-details {
        select, input[type="text"] {
            height: 35px;
        }
    }
}


.map-container {
    position: relative;

    .context-menu {
        position: absolute;
        border: 1px solid #e6e6e6;
        box-shadow: 0 0 5px 2px #ffffff;
        background: white;
        min-width: 200px;
        min-height: 120px;
        display: none;
        padding: 5px;

        h4 {
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            border-bottom: 1px solid #ececec;
            padding-bottom: 5px;
        }

        p {
            font-size: 12px;
        }

        ul {
            max-height: 100px;
            overflow: auto;
        }

        .box-footer {
            display: flex;
            flex-direction: column;
            padding: 5px 0 0 0;
            div.row1 {
                display: flex;
                margin-bottom: 5px;
                label {
                    margin-right: 5px;
                }
                select {
                    height: 30px;
                    width: 50%;
                }    
            }
            
            div.row2 {
                display: flex;
                button {
                    border-radius: 0;
                    height: 30px;
                    line-height: 0;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }

            
        }
    }
}


